<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{ link.icon }}</mat-icon>
        {{ link.label }}
      </a>
    </nav>
    <div class="logos">
      <img src="https://next.angular.io/assets/images/logos/angular/angular.svg" alt="Angular" class="angular" />
      <img src="https://ngrx.io/assets/images/badge.svg" alt="NgRx" class="ngrx" />
    </div>
    <hr />
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
