/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons"; 
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
}

.container {
  margin: 10px;
  > div {
    padding: 10px;
  }
}

mat-card {
  margin-bottom: 20px !important;
  mat-card-header .mat-card-header-text {
    margin-left: 0;
    border-bottom: 1px solid #ffd740;
    mat-card-title h1 {
      display: inline;
    }
  }
}
